body {
    background: #000;
    min-height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech Mono', 'Consolas', monospace;
}
#gameContainer {
    width: 96vw;
    max-width: 900px;
    min-width: 320px;
    box-sizing: border-box;
    border: 10px solid #39ff14;
    box-shadow: 0 0 60px #39ff14, 0 0 0 28px #000;
    border-radius: 22px;
    background: #000;
    margin: 50px auto;
    padding: 50px 0 50px 0;
    text-align: center;
    position: relative;
    min-height: 600px;
}
#topBar {
    position: absolute;
    top: 18px;
    right: 22px;
    z-index: 10;
}
#backBtn {
    padding: 10px 24px;
    font-size: 1rem;
    border-radius: 9px;
}
#scoreBoard {
    font-size: 2.6rem;
    letter-spacing: 1.55rem;
    color: #39ff14;
    text-shadow: 0 0 25px #39ff14, 0 0 44px #13ff00, 0 0 75px #48ff00;
}
canvas {
    width: 100%;
    height: 45vw;
    max-width: 860px;
    max-height: 480px;
    min-width: 280px;
    min-height: 170px;
    display: block;
    margin: 0 auto;
    background: #000;
    border: none;
    border-radius: 8px;
}
.neon-text {
    color: #39ff14;
    text-shadow: 0 0 8px #39ff14, 0 0 20px #13ff00;
    transition: text-shadow 0.3s, color 0.2s;
    font-family: 'Share Tech Mono', monospace;
}
.neon-text:hover {
    color: #9fffcb;
    text-shadow: 0 0 19px #39ff14, 0 0 54px #13ff00, 0 0 88px #0f0;
}
.neon-btn {
    margin: 0 14px 0 0;
    padding: 15px 44px;
    background: #111;
    color: #39ff00;
    font-weight: bold;
    font-size: 1.12rem;
    border: 2.5px solid #39ff14;
    border-radius: 12px;
    text-shadow: 0 0 8px #39ff14;
    box-shadow: 0 0 22px #13ff00, 0 0 38px #39ff14 inset;
    cursor: pointer;
    outline: none;
    transition: bacground .25s, color .25s, box-shadow .25s, transform .18s;
    font-family: inherit;
    position: relative;
}
.neon-btn:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 11px;
    box-shadow: 0 0 28px 0 #39ff14, 0 0 65px 0 #13ff00 inset;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.4s;
}
.neon-btn:hover:after, .neon-btn:focus:after {
    opacity: 1;
}
#controls {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 32px;
    margin-bottom: 24px;
}
@media (max-width: 600px) {
    #topBar {
        top: 10px;
        right: 8px;
    }
    #backBtn {
        padding: 8px 10vw;
        font-size: 0.89rem;
    }
}
@media (max-width: 900px) {
    #gameContainer {
        width: 100vw;
        padding: 22px 3vw 35px 3vw;
    }
    #scoreBoard {
        font-size: 1.7rem;
        letter-spacing: 0.82rem;
    }
    canvas {
        height: 50vw;
        max-height: 310px;
    }
    .non-btn {
        padding: 11px 16vw;
        font-size: 0.98rem;
    }
}
