body { 
    background: #000; 
    min-height: 100vh; display: flex; 
    align-items: center; 
    justify-content: center; 
    font-family: monospace;
    margin: 0;
    height: 100vh;
    background-image: url('https://i.pinimg.com/originals/90/89/b3/9089b3609b6595940092a50f59b027fa.gif');
    background-size: cover; /* makes the GIF cover the entire background */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* keeps background fixed on scroll */ 
}
.container { 
    background: #111111a4;
    margin: 40px auto;
    padding: 36px 0 26px 0;
    text-align: center; 
    padding: 80px 18px; 
    box-shadow: 0 0 45px #39ff14; 
    border-radius: 20px; 
}

.neon-text { 
    color: #39ff14; 
    font-size: 2rem; 
    text-shadow: 0 0 10px #39ff14; 
    margin-bottom: 32px; 
}
.neon-btn { 
    padding: 18px 50px; 
    background: #111; 
    color: #39ff14; 
    border: 3px solid #39ff14; 
    border-radius: 14px; 
    font-size: 1.18rem; 
    box-shadow: 0 0 18px #39ff14; 
    cursor: pointer; 
}
.neon-btn:hover { 
    background: #39ff14; 
    color: #000; 
}
