#pageLoader {
    position: fixed;
    inset: 0;
    display: none;
    align-items: center;
    justify-content: center;
    background: radial-gradient(circle at top, #020b02 0%, #000 60%);
    z-index: 999;
    transition: opacity 0.4s ease-out, visibility 0.4s ease-out;
}

#pageLoader.active {
    display: flex;
    opacity: 1;
    visibility: visible;
}


#pageLoader.hidden {
    opacity: 0;
    visibility: hidden;
}

#pageLoader::before,
#pageLoader::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animate 2s linear infinite;
}

#pageLoader:after {
    animation-delay: 1s;
}

@keyframes animate {
    0% {
        width: 0;
        height: 0;
        border: 4px solid #39ff14;
        box-shadow: 0 0 10px #39ff14;
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        width: 200px;
        height: 200px;
        border: 4px solid #39ff14;
        box-shadow: 0 0 100px #39ff14;
        opacity: 0;
    }
}